/* Global */

body {
    font-family: 'Manuale', serif;
    padding: 0;
    margin: 0;
}

a {
    color: #44a;
    text-decoration: none;
}

a:visited {
    color: #849;
}

/* Layout */

.body-wrap {
    margin: auto;
}

.content {
    width: 50%;
    margin-bottom: 100px;
}

.content-inner {
    padding: 0 6px;
}

div.highlight {
    margin-right: 2px;
}

.floater {
    width: 50%;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 3px;
}

#sandbox {
    height: 100%;
    width: 100%;
    border: 1px solid #eee;
}

.exercise {
    border: 1px dotted #eaa;
    padding: 10px;
    margin-bottom: 10px;
}

.exercise h3 {
    margin: 0px;
}

.output {
    color: #66c;
    overflow: scroll;
}

.output.error {
    color: red;
}

hr {
    display: none;
}

/* ACE Editor Customizations */

.ace_gutter-layer {
    background: white;
    color: #ccc;
}

.ace_hidden-cursors {
    display: none;
}