/* Global */

body {
    font-family: 'Manuale', serif;
}

.error {
    color: red;
}

/* Layout */

.body-wrap {
    width: 1200px;
    margin: auto;
}

.content {
    width: 600px;
    /*
    margin-left: 30px;
    margin-right: 30px;
    */
    margin-bottom: 100px;
}

.floater {
    width: 600px;
    margin-left: 660px;
    position: fixed;
    border: 1px solid #eee;
    min-height: 400px;
}

.exercise {
    border: 1px dotted #eaa;
    padding: 15px;
    margin: 10px -15px;
}

/* ACE Editor Customizations */

.ace_gutter-layer {
    background: white;
    color: #ccc;
}

.ace_hidden-cursors {
    display: none;
}

