<html>
    <head>
        <title>{{ page.title }}</title>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.8/ace.js"></script>
        <script src="/js/interact.js"></script>
        <script src="https://d3js.org/d3.v4.min.js"></script>
        <link rel="stylesheet" href="/css/style.css" />
        <link href="https://fonts.googleapis.com/css?family=Manuale:400,400i,700,700i" rel="stylesheet">
    </head>
    <body>
        <div class="body-wrap">
            <div class="floater" id="sandbox">
            </div>
            <div class="content">
            <a href="/">&lt;&lt; Back to index</a>
            {{ content }}
            </div>
        </div>
        <script>
            enableInteractForAll('.content pre code');
        </script>
    </body>
</html>
